.container{
 width: 1000px;
 margin: 50px auto;    
}
.satu, .dua{
    width: 200px;
    height: 200px;
}
.satu{
    border: solid;
    background-color: green;
    box-shadow: 40px 40px;
    margin-top: 50px;
    border-image-source: url("/latihan 13/hearts.png");
    border-image-repeat: round;
    border-image-width: 20px;
    border-image-slice: 20 22;
    border-image-outset: 20px;
}
.dua{
    border : solid;
    margin-top: 100px;
    border-image-source: url("/latihan 13/border1.png");
    border-image-repeat:round;
    border-image-width: 33px;
    border-image-slice: 33 33 33 33;
    border-image-outset: 20px;
    background-color: blue;
    box-shadow: 10px 10px 20px;
}